.services {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 2rem;

  .logoContainer {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0 auto;

    .logo {
      font-size: 30px;
      cursor: pointer;
      color: #000000;
      @media  screen and (max-width: 760px) {
        color: brown;
      background-color: burlywood;
    
      }
    }
  }

  .logo:hover {
    transition: all 600ms;
    transform: scale(1.2);
    -webkit-transition: all 600ms;
    -moz-transition: all 600ms;
    -ms-transition: all 600ms;
    -o-transition: all 600ms;
  }

  .details {
    box-shadow: 0 1.2rem 2rem #2e394755;
    flex-grow: 1;
    flex-basis: 250px;
    padding: 0.7rem 1rem;
  }
}

