.contact {
  display: flex;
  gap: 5rem;
  padding: 0 3rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .form-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;

    input {
      padding: 0.5rem 1rem;
      width: 300px;
      outline: none;
      border: 1px solid grey;
      border-radius: 5px;
      font-size: 15px;
      background: none;
      transition-duration: 500ms;
    }
  }
  
  textarea {
    padding: 0.5rem 1rem;
    width: 300px;
    outline: none;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 15px;
    background: none;
    transition-duration: 500ms;
  }

  :is(input:hover, textarea:hover) {
    outline: 1px solid white;
    transition-duration: 900ms;
  }

  .--center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    button {
      width: 100%;
    }
  }

  button {
    cursor: pointer;
    background: none;
    font-size: 12px;
  }

  div > div:nth-child(2) address {
    width: 50%;
  }
}
