/* Navbar.scss */

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar {
    background-color: #fff;
    color: #000;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
  }
  
  .icon {
    color: #000;
  }
  
  
  .navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  
  .navbar-links a {
    color: #000;
    text-decoration: none;
    margin: 0 15px;
    font-size: 15px;
    transition: color 0.3s ease-in-out;
    list-style: none;
    cursor: pointer;
  }
  
  .navbar-links a:hover, .btn:hover {
    color: #878080;
    transition-duration: 500ms;
  }
  
  .btn {
    border: 1px solid;
    padding-block: 8px;
    padding-inline: 8px;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
  }

  .navbar-toggle {
    display: none;
    cursor: pointer;
}
  
  .bar {
    display: block;
    width: 25px;
    height: 1px;
    background-color: #fff;
    margin: 5px 0;
    transition: background-color 0.3s ease-in-out;
  }
  
  
  
  @media screen and (max-width: 768px) {
    .navbar {
      background-color: brown;
    }

    .navbar-logo, .icon {
      color: burlywood;
    }
    .navbar-links, .btn{
      display: none;
    }
  
    .navbar-toggle {
      display: block;
      background-color: burlywood;
    
    }
  
    .active {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 93.9%;
      height: 50vh;
      padding: 20px;
      text-align: center;
      background-color: burlywood;
    }
  
    .active a {
      margin: 10px 0;
    }

  }
  
  