mark {
  background-color: black;
  color: #fff;
  text-align: center;
  font-family: Handlee;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media  screen and (max-width: 768px) {
    color: burlywood;
  background-color: brown;
  }
}
#about {
  margin: 4rem 0;
  padding: 0 6em;
}
.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  flex-wrap: wrap;


  .element {

    .el_one  {
      display: flex;
      gap: 2rem;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;

      div {
        border: 1px solid;
        padding: 4rem;
        text-align: center;

        span {
          font-size: 30px;
        }
      }
    }
    
  }
}
