.featured {
    background: #000;
    color: #fff;
    padding: 0 8em;

    @media screen and (max-width: 800px) {
        padding: 0 2em;
    }

    @media  screen and (max-width: 768px) {
        color: burlywood;
      background-color: brown;
      }
}