@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&display=swap');
:root {
  font-family: 'Space Grotesk', sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: #000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

.container {
  padding: 2rem 3.5rem;
  margin-top: 7rem;
}

h1 {
  font-size: 40px;
  font-weight: 900;
}


h3{
  font-size: 50px;
    font-weight: 800;
    font-family: Space Grotesk;
    letter-spacing: 2px;
    color: inherit;
    -webkit-transition: all .4s;
    transition: all .4s;


}

p{
  font-size: 18px;
  font-weight: 400;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: #fff;
  position: relative;
}

.--ta {
  text-align: center;
}

@media screen and (max-width: 460px) {

  .container {
  padding: 1.2rem;
  text-align: center;
    
  }
  h3{
    font-size: 30px;
  }

  .--padding {
    padding: 0;
  }
}